.header {
  width: 100%;
  display: block;
  min-height: 86px;

  .content {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;

    .title {
      width: 100%;
      display: block;
    }

    .headerContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      height: 100%;

      @media screen and (min-width: 768px) {
        flex-direction: row;
      }

      div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 86px;

        &:first-of-type {
          display: none;
          @media screen and (min-width: 768px) {
            display: block;
          }
        }
      }
    }
  }

  .navbr {
    width: 100%;
    height: 100%;

    .content {
      max-width: 1140px;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      min-height: 56px;
    }
  }
}

.contenido {
  min-height: calc(100vh - 243px);
  .content {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    min-height: 500px;

    .titulo {
      min-height: 56px;
      display: flex;
      align-items: center;
    }

    hr {
      margin: 0 0 1rem;
      width: 100%;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      height: 0;
      overflow: visible;
    }

    .alertaContent {
      width: 100%;
      min-height: 52px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .rowButtons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 25px;
      height: 100%;
      margin-bottom: 1rem;
    }

    .botones {
      height: 100%;
    }

    .tabla {
      margin-bottom: 1rem;
      text-align: center;
      & * {
        text-align: center;
        vertical-align: middle;
      }
    }

    .blockRadioButton {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1%;
    }

    .blocFormValidateRow {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3%;
    }

    .blocFormValidateRowTable {
      display: grid;
      grid-template-columns: 1fr;
      gap: 3%;
    }

    .botonesAlign {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem 0;
      div {
        margin: 0 10px;
      }
    }

    .LinkStyle {
      cursor: pointer;
      color: #d24726;
      font-weight: bold;
      &:hover {
        color: #666;
      }
    }

    .ViewError {
      display: flex;
      flex-direction: row-reverse;
      color: red;
      padding: 0 7% 0 0;
    }

    .viewInputConten {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      justify-content: center;
      align-items: center;
    }
  }
}

.footer {
  width: 100%;
  .content {
    min-height: 81px;
    .contentFooter {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
