.headerContent {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px !important;
  flex-direction: column;

  img {
    display: none;
  }

  @media (min-width: 768px) {
    flex-direction: row;

    img {
      display: block;
    }
  }
}
