.header {
  width: 100%;
  display: block;
  min-height: 86px;

  .content {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;

    .title {
      width: 100%;
      display: block;
    }

    .headerContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      height: 100%;

      @media screen and (min-width: 768px) {
        flex-direction: row;
      }

      div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 86px;

        &:first-of-type {
          display: none;
          @media screen and (min-width: 768px) {
            display: block;
          }
        }
      }
    }
  }
  .navbr {
    width: 100%;
    height: 100%;

    .content {
      max-width: 1140px;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      min-height: 56px;
    }
  }
}
.ant-badge-status-text {
  margin: 0 !important;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
}
.rightButton {
  text-align: right;
}
.centerInput {
  text-align: center;
}
.Activeclass {
  color: #f0f0f0;
}
.ButtonMini {
  font-size: small !important;
  padding: 10% !important;
  font-weight: 100 !important;
  color: #f0f0f0 !important;
  background-color: #ff0000 !important;
  opacity: 50% !important;
  letter-spacing: 0.07em !important;
}
.site_calendar_demo_card {
  width: 300px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}
.contenido {
  min-height: calc(100vh - 243px);
  .content {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    min-height: 500px;

    .titulo {
      min-height: 56px;
      display: flex;
      align-items: center;
    }

    hr {
      margin: 0 0 1rem;
      width: 100%;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      height: 0;
      overflow: visible;
    }

    .alertaContent {
      width: 100%;
      min-height: 78px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .rowButtons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 25px;
      height: 100%;
      margin-bottom: 1rem;
    }

    .tabla {
      margin-bottom: 1rem;
    }

    .tablaCenter * {
      text-align: center;
      vertical-align: middle;
      // white-space: nowrap;
    }
  }
}

.footer {
  width: 100%;
  .content {
    min-height: 81px;
    .contentFooter {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
