.viewInputConten {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
    @media (max-width: 767px){
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
}

.FormatedText {
  text-align: center;
}
